<h1>Create a new Trip</h1>

<%if logged_in?%>

<form action="/trips" method="POST">

  <label>Name:</label>

  <br>

  <input type="string" name="trip[name]">

  <br>

  <label>Start date:</label>

  <br>

  <input type="date" name="trip[start_date]">

  <br>
  
  <label>End date:</label>

  <br>

  <input type="date" name="trip[end_date]">

  <br>

<fieldset >
     <label>Select country</label>
     <select name = "trip[country_id]" id = "myList">
     <%countries = []%>
     <%Country.all.each_with_index do |c, index|%>
      <%if !countries.include?(c.name)%>
      <option value =<%=c.id%>><%=c.name%></option>
      <%countries << c.name%>
      <%end%>
      <%end%>
     </select>
</fieldset>

<label>Description:</label>

<br>

<input type="string" name="trip[description]">

<br>

<input type="hidden" name="trip[user_id]" value= "<%=current_user.id%>">

  <input type="submit" value="Create Trip">

</form>

<%else%>

<h2>Please log in order to create a trip</h2>

<%end%>