<head>
<title>My account</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
<h1>Update user:<%=@user.username%></h1>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="patch">  
  <label>username:</label>
 
  <br>
 
  <input type="text" name="user[username]" id="user_name" value="<%=@user.username%>">
 
  <br>
 
  <label>password:</label>
 
  <br>
 
  <input type="text" name="user[password]" id="password" value="<%=@user.password%>">
 
  <br>

  <input type="submit" value="Update User">
</form>
</body>