<h1>Create a new User</h1>

<form action="/users" method="POST">
  <label>username:</label>

  <br>

  <input type="text" name="user[username]">

  <br>
  
  <label>password:</label>

  <br>

  <input type="text" name="user[password]">

  <br>

</form>