<head>
<link rel="stylesheet" href="../stylesheets/style.css">
<style>
body {
    background-color: cadetblue;
    font-family: sans-serif;
  
}

h1, h2 {
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    text-align: center;
    background-color: dodgerblue;
}

img {
    align-self: center;
    width: 400px;
}



  div {
      border-width: 2px;
      border: black
  }

</style>
</head>

<body>

<div >

  <header><img src="http://bestanimations.com/Earth&Space/Earth/earth-spinning-rotating-animation-24.gif" class="center" height="380" width="500" alt="rotating earth"></header>

  <div>
    <h2>Welcome to your destination tracker</h2>

    <div class="center">
      <p>Please log in</p>
      <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name= "username" placeholder= "Username">
      <label>Password:</label>
      <input type="text" name= "password" placeholder= "Enter your password">
      <br>
      <input type="submit" value="Log in">
    </form>

    <form action="/users/new" method="POST">
    <input type="submit" value="Create User">
    </form>

    </div>

  </div>
</div>
</body>