<div class="container">
  <header><img src="images/mapamundi.jpg"></header>

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your destination tracker</h2>

    <div class="content">
      <p>Please log in</p>
      <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name= "username" placeholder= "Username">
      <label>Password:</label>
      <input type="text" name= "password" placeholder= "Enter your password">
      <br>
      <input type="submit" value="Log in">
    </form>

    <form action="/users/new" method="POST">
    <input type="submit" value="Create User">
    </form>

    </div>

  </div>
</div>
