<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your destination tracker</h2>

    <div class="content">
      <p>Please log in</p>
      <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name= "username">
      <label>Password:</label>
      <input type="text" name= "password">
      <br>
      <input type="submit" name="submit">
    </form>
    </div>


  </div>
</div>
