<!doctype html>
<html>
  <head>
    <title>Destination tracker app</title>
  </head>
  <body>
 
    <div class="container">

    <%if logged_in?%>
    <nav>
    <a href='/'>Home</a>
    <a href='/users/<%="#{current_user.id}"%>'>My account</a>
    <a href='/trips/new'>New trip</a>
    <a href="/logout">Log Out</a>
    </nav>
    <%end%>
    <nav>
    <a href='countries'>Countries</a>
    </nav>
 
      <%= yield %>
 
    </div>
  </body>
</html>
