<!doctype html>
<html>
  <head>
    <title>Destination tracker app</title>
  </head>
  <body>
 
    <div class="container">

    <%if logged_in?%>
    <a href="/logout">Log Out</a>
    <a href='/users/<%="#{current_user.id}"%>'>My account</a>
    <%end%>
 
      <%= yield %>
 
    </div>
  </body>
</html>
